<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            Gestor de Notas
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menú
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
                        <a class="dropdown-item" routerLink="/estudiantes" routerLinkActive="active">Estudiantes</a>
                        <a class="dropdown-item" routerLink="/materias" routerLinkActive="active">Materias</a>
                        <a class="dropdown-item" routerLink="/notas" routerLinkActive="active">Notas</a>
                        <a class="dropdown-item" routerLink="/profesores" routerLinkActive="active">Profesores</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
